body {
    font-family: Futura, sans-serif;
    display:grid;
    grid-template-rows: 308px 40px 1fr 100px;
    /*height: 100%;*/
    margin: 0px;
    padding: 0px;
}

#header {
    grid-row: 1;
    padding-left: 40pt;
    width: 100%;
    height: 308px;
    display: flex;
    flex-direction: column;
    position: fixed;
    /*justify-content: space-between;*/
    /*background: linear-gradient(90deg,  0%, #4364f7 50%, #6fb1fc 100%);*/
    color: ivory;
    background-color: #5433ff;
    z-index: 100;
    margin-bottom: 50px;
}

#titleHeader {
    font-size: 8vw;
    margin: 0px;
    padding-bottom: 50px;
    padding-top: 50px;
}

#whiteSpace {
    grid-row: 2;
    position: fixed;
    background: white;
    height: 340px;
    width: 100%;
    z-index: 99;
}

.tabLinks {
    float: left;
    border-style: solid;
    border-color: black;
    border-radius: 20px 20px 0px 0px;
    font-family: Futura, sans-serif;
    font-size: 30pt;
    padding: 23px 30px;
    background-color: #d9e8ff;
}

#allTab {
    background-color: white;
    border-bottom: solid;
    border-bottom-color: white;
    border-bottom-width: 3px;
}

#toDoList {
    grid-row: 3;
    font-size: 4vw;
    display: grid;
    row-gap: 15pt;
    grid-template-columns: 1fr 20pt 50pt 40pt;
    align-items: start;
    overflow-y: scroll;
    padding-right: 20pt;
    padding-left: 40pt;
    padding-bottom: 50pt;
}

#toDoList div:nth-child(even) {
    background-color: #d9e8ff;
}

#toDoList input{
    font-size: 5vw;
    margin: 0px 20px 0px 10px;
}

#toDoList label{
    margin: 0px 20px 0px 3px;
}

input:checked + label {
    text-decoration: line-through;
    opacity: .5;
}

.toDoCheckbox {
    margin-bottom: 10px;
}

input[type=checkbox] {
    transform: scale(3);
}

.listItem {
    align-content: start;
    grid-column: 1;
    /*border-bottom-style: solid;*/
    /*border-color: gray;*/
    /*border-width: thin;*/
    /*overflow-x: scroll;*/
}

.editIcon {
    grid-column: 3;
}

.deleteIcon {
    grid-column: 4;
}

#listInput {
    font-size: 4vw;
    display: grid;
    row-gap: 15pt;
    grid-template-columns: 5fr 1fr;
    padding: 22pt;
    align-items: center;
    font-size:20px;
}

img {
    width: 42px;
    height: 42px;
}

#deleteAllButton {
    font-size: 30pt;
    font-family: Futura;
    background-color: #d9e8ff;
    border-style: solid;
    border-color: #b7d3ff;
    border-width: 3px;
    border-radius: 20px;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer {
    /*font-size: 10vw;*/
    grid-row: 4;
    width: 100%;
    position: fixed;
    bottom: 0;
    vert-align: middle;
    align-content: center;
    /*background: linear-gradient(90deg, #5433ff 0%, #4364f7 50%, #6fb1fc 100%);*/
    background-color: #5433ff;
    z-index: 101;
}

.headerButtons {
    font-family: Futura, sans-serif;
    height: 80px;
    font-size: 36px;
    padding-left: 20px;
}

#addTaskEntry {
    border-radius: 20px 0px 0px 20px;
}

#addTaskButton {
    background-color: #d9e8ff;
    border-style: solid;
    border-color: #b7d3ff;
    border-width: 3px;
    border-radius: 0px 20px 20px 0px;
}