.App {
  text-align: center;
}

.editIcon {
  height: 20px;
}

.deleteIcon {
  height: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.deleteCompleted {
  width: 50vw;
  height: 5vw;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*#Footer {*/
/*  align-items: center;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  justify-content: space-around;*/
/*  font-size: 3rem;*/
/*  !*min-height: 25vh;*!*/
/*  width: 100%;*/
/*}*/