body {
    font-family: Futura, sans-serif;
    margin: 0px;
    padding: 0px;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

/*.header {*/
/*    position: sticky;*/
/*    background-color: #65C18C;*/
/*}*/

/*.headerText {*/
/*    font-size: 8vw;*/
/*    margin: 2vw;*/
/*    color: white;*/
/*}*/